
body{
    margin: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: rgb(255, 255, 255);
    
      

}
#section1{
    background-color: rgb(36, 74, 165);
    height: 800px;
    background-image: url("Photo/kosovo-backpacking-itinerary-main-image-hd-op.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    
}
.container{
    margin-left: auto;
    margin-right: auto;
    height: 100%;

}
header{
    padding: 55px;
    display: flex;
    justify-content:  space-around;
}
nav ul li{
    display: inline-block;
    padding: 10px 16px;
}
nav ul li a{
    text-decoration: none;
    color: white;
}

nav ul li.active{
    background-color: rgb(208, 166, 80);
    border-radius: 5px;
}
.main-heading{
    margin-top: 148px;
    text-align: center;
}
.main-heading h1{
    color: white;
    font-size: 42px;
    font-weight: bold;
    margin-bottom: 60px;
}
.main-heading a{
    text-decoration: none;
    background-color:rgb(208, 166, 80);
    font-size: 18px;
    text-transform: uppercase;
    color: aliceblue;
    border-radius: 5px;
    padding: 25px 85px;
    
}



#Mirësevini{
    text-align: center;
    color: white;
}


.container1 {
    display: flex;
    max-width: 1000px;
    margin: 40px auto;
    
}
section {
    flex: 2;
    background:rgb(208, 166, 80);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.1);
}
#K1{
    color: white;
    text-align: center;
}

footer {
    background-color: rgb(36, 74, 165);
    padding: 10px;
    text-align: center;
    color: white;
  }
  #Informacione {
    text-align: center;
    color: rgb(255, 255, 255);
  }